# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore the database files
*.sqlite3

# Ignore images
public/development/*

# Ignore aws keys
config/application.yml
