%h1 Entries for #{@journal.title}!
=button_to "Create New Entry", new_journal_entry_path(@journal),method: :get

%ul
  - @entries.each do |entry|
    %div.entry-container
      %h2 #{entry.title}
      %p
        =sanitize(truncate(entry.post, length: 100))
      =image_tag "#{entry.image_url}"
      =button_to "View Entry", journal_entry_path(@journal, entry), method: :get


