
%div.entry-container
  =link_to "Back", journal_entries_path, class: 'backBtn'

  %h1
    =@entry.title
  =image_tag "#{@entry.image_url}"
  %p
    =@entry.post

  =button_to "Edit Entry", edit_journal_entry_path(params[:journal_id], @entry),method: :get, class: 'editEntryBtn'
  =button_to "Delete Entry", journal_entry_path(params[:journal_id], @entry), method: :delete, class: 'deleteEntryBtn'

