%div.profile-container
  %h1 My Profile
  =gravatar_for @user
  %h2 #{@user.name}
  %p #{@user.bio}

  =button_to "Edit Profile", edit_user_path(current_user), method: :get, class: "edit-profile-btn"
  
