-if logged_in?
  - if @journals.empty?
    %p There aren't any journals yet.
  - else
    - sorted_by_date = (params[:sort] == 'created_at')
    = link_to_unless sorted_by_date, "Sort: Date", journals_path(sort: :created_at)
    = link_to_if sorted_by_date, "Sort: Alphabetical", journals_path

  %ul#journals
    - @journals.each do |journal|
      %li #{journal.title}

- else
  %p Please log in to see your journals.
