@import "bootstrap-sprockets";
@import "bootstrap";

//****************************
// Color Variables
//****************************
$main-background: #027878;
$primary-button-color: #10C5CD;
$header-background: white;
$logo-color: #EE1113;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

//*****************************
//  Mixins
//*****************************
@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: 0;
  padding:  2em;
  text-align: center;
}

//*****************************
//  FONTS
//*****************************
@font-face {
  font-family: 'logoFont';
  src: url('SketchBlock.ttf');
}

@font-face {
  font-family: 'buttonFont';
  src: url('NexaRustHandmade.otf');
}


@font-face {
  font-family: 'handwrittenFont';
  src: url('MoonFlowerBold.ttf');
}


//******************************
// BODY
//******************************
body {
  background-color: $main-background;
}

//******************************
// HEADER
//******************************
header {
  background-color: white;
  text-align: center;
  padding: 50px;

  .logo {
    color: $logo-color;
    text-decoration: none;
    text-align: center;
    font-size: 100px;
    font-family: logoFont;
    display: block;
    text-transform: uppercase;
  }
  // buttons when signed in
  form.button_to{
    display: inline-block;
    margin: 10px auto;
    .journals_btn, .sign_out_btn {
      background-color: $primary-button-color;
      color: white;
      font-family: handwrittenFont;
      width: 150px;
      height: 50px;
      border-radius: 15px;
      font-size: 30px;
    }
  }
}

//******************************
// Styles for the flash notices
//******************************
.flash-container {
  .flash-alert {
    @include flash($alert-color);
  }

  .flash-error {
    @include flash($error-color);
  }

  .flash-notice {
    @include flash($notice-color);
  }

  .flash-success {
    @include flash($success-color);
  }
}

//******************************
// Main page layout
//******************************
section {
  padding: 25px 0;
  width: 50%;
  margin: 0 auto;

  .button-grouping {
    width: 100%;
    text-align: center;
    form.button_to {
      display: inline-block;
      margin: 0 auto;
      // two input btns inside form
      .sign_up_btn, .sign_in_btn {
        background-color: $primary-button-color;
        color: white;
        width: 150px;
        height: 100px;
        border-radius: 15px;
        font-size: 24px;
      }
      &:last-child {
        margin-left: 30px;
      }
    }
  }
}

//********************************
// Sign up/Sign in Form styles
//********************************
.sign_up_form, .sign_in_form {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    color: white;
  }
}

//*********************************
// JOURNALS
//********************************

.journals-container {

  text-align: center;
  color: white;

  h1 {
    color: white;
    font-family: handwrittenFont;
  }

  .add-journal-btn {
    background-color: $primary-button-color;
    color: white;
    font-family: handwrittenFont;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
  }

  .journal {
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 10px 20px;
    max-width: 300px;
    min-height: 200px;
    //padding: 24px;
    position: relative;
    width: 80%;

    &:before {
      content: "";
      height: 98%;
      position: absolute;
      width: 100%;
      z-index: -1;
      background: #fafafa;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
      left: -5px;
      top: 4px;
      transform: rotate(-2.5deg);
    }

    &:after {
      content: "";
      height: 98%;
      position: absolute;
      width: 100%;
      z-index: -1;
      background: #f6f6f6;
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
      right: -3px;
      top: 1px;
      transform: rotate(1.4deg);
    }

    ul {
      border: 1px solid red;
      color: #555;
      font-size: 30px;
      font-family: handwrittenFont;
      padding: 0;
      width: 300px;
      border: 1px solid #dedede;

      li {
        list-style: none;
        border-bottom: 1px dotted #ccc;
        text-indent: 25px;
        height: auto;
        padding: 10px;

        &:first-child {
          text-align: right;
          text-transform: uppercase;
          font-size: 20px;
          height: 50px;
        }

        &:last-child {
          text-align: right;
        }
        span {
          margin-left: 20px;
        }
      }
    }

    .notebook-lines {
      border-left: 1px solid #ffaa9f;
      border-right: 1px solid #ffaa9f;
      width: 4px;
      float: left;
      height: 200px;
      margin-left: 20px;
    }

  }
}


