@import "bootstrap-sprockets";
@import "bootstrap";


//*****************************
//  FONTS
//*****************************
@font-face {
  font-family: 'logoFont';
  src: url('NexaRust.otf');
}

@font-face {
  font-family: 'buttonFont';
  src: url('NexaRustHandmade.otf');
}

//******************************
// BODY
//******************************
body {
  background-color: #93B1C6;
}

//******************************
// HEADER
//******************************
header {
  background-color: #C7D0D5;
  text-align: center;
  padding: 50px;

  .logo {
    color: #FF7148;
    text-decoration: none;
    text-align: center;
    font-size: 72px;
    font-family: logoFont;
    display: block;
  }
  // buttons when signed in
  form.button_to{
    display: inline-block;
    margin: 10px auto;
    .journals_btn, .sign_out_btn {
      background-color: #FF7148;
      color: white;
      width: 150px;
      height: 50px;
      border-radius: 15px;
      font-size: 20px;
    }
  }
}

//******************************
// Main page layout
//******************************
section {
  padding: 25px 0;
  width: 50%;
  margin: 0 auto;

  .button-grouping {
    width: 100%;
    text-align: center;
    form.button_to {
      display: inline-block;
      margin: 0 auto;
      // two input btns inside form
      .sign_up_btn, .sign_in_btn {
        background-color: #FF7148;
        color: white;
        width: 150px;
        height: 100px;
        border-radius: 15px;
        font-size: 24px;
      }
      &:last-child {
        margin-left: 30px;
      }
    }
  }
}

//********************************
// Sign up/Sign in Form styles
//********************************
.sign_up_form, .sign_in_form {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    color: white;
  }
}



